*{
    padding: 0;
    margin: 1rem;
    color: #d6f238;
    background-color: #16b5f1;
}

body{
    text-align: center;
}

.head{
    font-size: 2rem;
}

.info{
    font-size: 1.5rem;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.image img{
    height: 25rem;
    aspect-ratio: 3/2;
    margin: 0;
}